// @section media query (begin)
@media only screen and (max-width: 635px){
  .cabinet__cntrl-panel-b{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .cabinet__cntrl-panel-item{
      margin-right: 0;
    }
  }
  .cabinet-b{
    margin-bottom: 30px;
  }
  .top-menu__msg-b{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;;
  }
  .top-menu{
    .top-menu__user-menu{
      float: left;
      width: 100%;
      text-align: left;
    }
  }
}
// @section media query (end)
