<% layout('../../layout/index') %>

<% if(auth){ %>
  <top-menu-auth-external-component></top-menu-auth-external-component>
<% }else { %>
  <top-menu></top-menu>
<% } %>

<section class="cabinet-body">
  <div class="center-b">
    <profile-component user-id="<%=userId%>" cabinet-state="false"></profile-component>
  </div>
</section>
