<% layout('../../layout/template') %>

<div class="box box__logo">
  <a href="/">LOGO</a>
</div>

<section class="wrapper wrapper__registration">
  <h1 class="title title_big title__registration">Зарегестрироваться</h1>

  <% if(settings.registrationError){ %>
    <h3 class="title title__registration-error">
      <%=settings.registrationError%>
    </h3>
  <% } %>

  <div class="wrapper wrapper__registration-form">
    <form action="/api/v1/registration/user"
          method="post"
          name="registrationUser"
          novalidate
          class="usr-registration__form">
      <label for="firstName"
             class="usr-registration__item-pole" show-row>
        <input type="text"
               name="firstName"
               required
               id="firstName"
               ng-model="r.registrationUser.firstName"
               ng-pattern="r.validate.nameTpl"
               placeholder="Введите ваше имя"
               data-ng-class="{'ng-form-error': registrationUser.firstName.$invalid && registrationUser.firstName.$dirty,'ng-form-valid': registrationUser.firstName.$valid}"
               class="usr-registration__item-inpt">

        <div class="usr-registration__item-error-helper"
             data-ng-show="registrationUser.firstName.$invalid && registrationUser.firstName.$dirty">{{r.err.empty}}</div>

        <div class="form__row-inpt_registration"></div>
      </label>

      <label for="lastName"
             class="usr-registration__item-pole" show-row>
        <input type="text"
               name="lastName"
               required
               id="lastName"
               ng-pattern="r.validate.nameTpl"
               ng-model="r.registrationUser.lastName"
               placeholder="Введите вашу Фамилию"
               data-ng-class="{'ng-form-error': registrationUser.lastName.$invalid && registrationUser.lastName.$dirty, 'ng-form-valid': registrationUser.lastName.$valid}"
               class="usr-registration__item-inpt">

        <div class="usr-registration__item-error-helper"
             data-ng-show="registrationUser.lastName.$invalid && registrationUser.lastName.$dirty">{{r.err.empty}}</div>
        <div class="form__row-inpt_registration"></div>
      </label>
      <label for="email" class="usr-registration__item-pole" show-row>
        <input type="email"
               name="email"
               required
               id="email"
               placeholder="Введите электронную почту"
               ng-model="r.registrationUser.email"
               ng-pattern="r.validate.emailTpl"
               data-ng-class="{'ng-form-error': registrationUser.email.$invalid && registrationUser.email.$dirty,'ng-form-valid': registrationUser.email.$valid}"
               class="usr-registration__item-inpt">
        <div class="usr-registration__item-error-helper"
             data-ng-show="registrationUser.email.$invalid && registrationUser.email.$dirty">{{r.err.email}}</div>
        <div class="form__row-inpt_registration"></div>
      </label>

      <label for="password" class="usr-registration__item-pole" show-row>
        <input type="password"
               name="password"
               required
               id="password"
               placeholder="Введите пароль"
               ng-model="r.registrationUser.password"
               ng-pattern="r.validate.passwordTpl"
               data-ng-class="{'ng-form-error': registrationUser.password.$invalid && registrationUser.password.$dirty,'ng-form-valid': registrationUser.password.$valid}"
               class="usr-registration__item-inpt">
        <div class="usr-registration__item-error-helper"
             data-ng-show="registrationUser.password.$invalid && registrationUser.password.$dirty">{{r.err.password}}</div>
        <div class="form__row-inpt_registration"></div>
      </label>

      <label for="password2"
             data-ng-show="registrationUser.password.$dirty && registrationUser.password.$valid"
             class="usr-registration__item-pole" show-row>
        <input type="password"
               name="password2"
               required
               id="password2"
               placeholder="Повторите пароль"
               ng-model="r.registrationUser.password2"
               data-ng-class="{'ng-form-error': r.validate.comparePassword(r.registrationUser.password, r.registrationUser.password2),'ng-form-valid': registrationUser.password2.$valid}"
               class="usr-registration__item-inpt">
        <div class="usr-registration__item-error-helper"
             data-ng-show="r.validate.comparePassword(r.registrationUser.password, r.registrationUser.password2)">{{r.err.passwordCheck}}</div>
        <div class="form__row-inpt_registration"></div>
      </label>
      <div class="usr-registration__item-pole usr-registration__condition-project">
        <p class="usr-registration__condition-project_text">Регистрируясь, я соглашаюсь с
          <a href="/" class="usr-registration__condition-project_link">правилами использования.</a>
        </p>
      </div>
      <div class="usr-registration__item-pole">
        <button
          type="submit"
          class="usr-registration__submit-btn"
          data-ng-disabled="registrationUser.$invalid || (r.validate.comparePassword(r.registrationUser.password, r.registrationUser.password2))"
          data-ng-class="{'usr-registration__submit-btn_disable': registrationUser.$invalid}">Создать аккаунт</button>
      </div>
    </form>
  </div>
</section>
