<div class="cabinet__cntrl-panel">
  <ul class="cabinet__cntrl-panel-b">
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/travel" class="cabinet__cntrl-panel-item-link">Поездки</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/tour" class="cabinet__cntrl-panel-item-link">Туры</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/profile" class="cabinet__cntrl-panel-item-link">Профиль</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/profile/settings" class="cabinet__cntrl-panel-item-link">Настройки</a>
    </li>
  </ul>
</div>
