<div class="cabinet__cntrl-panel">
  <ul class="cabinet__cntrl-panel-b">
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/" class="cabinet__cntrl-panel-item-link" ng-class="cN.getActiveLink('/')">Дом</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/travel" class="cabinet__cntrl-panel-item-link" ng-class="cN.getActiveLink('/travel')">Поездки</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/tour" class="cabinet__cntrl-panel-item-link" ng-class="cN.getActiveLink('/tour')">Туры</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/profile" class="cabinet__cntrl-panel-item-link" ng-class="cN.getActiveLink('/profile')">Профиль</a>
    </li>
    <li class="cabinet__cntrl-panel-item">
      <a ui-sref="/profile/settings" class="cabinet__cntrl-panel-item-link" ng-class="cN.getActiveLink('/profile/settings')">Настройки</a>
    </li>
  </ul>
</div>
