<section class="cabinet-body">
  <div class="center-b">
    <div class="row row-fix">
      <div class="large-2 small-12 columns coll-fix-right">
        <profile-media-component>Профиль...</profile-media-component>
      </div>
      <div class="large-8 small-12 columns end">
        <article class="profile-wrapper">
          <div class="profile-transparent-b">
            <h1 class="profile-transparent__header-title">Добро пожаловать в Минск!</h1>
            <div>{{profile.profileTest}}</div>
          </div>
          <div class="box_border box__wrapper">
            <h2 class="cabinet-title_regular">Информация</h2>
            <div class="row row-fix">
              <ul class="large-6 small-12 columns coll-fix">
                <li class="profile-info__item">Минск, Беларусь</li>
                <li class="profile-info__item">27, муж</li>
                <li class="profile-info__item">Рус</li>
              </ul>
              <ul class="large-6 small-12 columns coll-fix">
                <li class="profile-info__item">
                  <a href="#">+375-29-3123573</a>
                </li>
                <li class="profile-info__item">
                  <a href="#">Туры</a>
                </li>
                <li class="profile-info__item">
                  <a href="#">Отзывы</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="box_border box__wrapper">
            <h2 class="cabinet-title_regular">Интересы</h2>
            <ul class="profile-info__interests-list">
              <li class="profile-info__interests-list-item">
                <a href="#" class="profile-info__interests-list-item-link">Футбол</a>
              </li>
              <li class="profile-info__interests-list-item">
                <a href="#" class="profile-info__interests-list-item-link">Велосипеды</a>
              </li>
              <li class="profile-info__interests-list-item">
                <a href="#" class="profile-info__interests-list-item-link">Путешествия</a>
              </li>
            </ul>
          </div>
          <div class="box_border box__wrapper">
            <h2 class="cabinet-title_regular">Обо мне</h2>
            <div class="profile-info__about-text">
              Отличное место расположение. Есть свой закрытый дворик.
              Все новое, хорошое и удобное. Но! Это хостел!!!
              Поэтому не удивляйтесь, если Вас поселят не совсем так, как
              Вы заказывали или Вы будете слышать все шаги в коридоре...
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
