<section class="cabinet-body">
  <div class="center-b">
    <div class="row row-fix">
      <div class="large-2 small-12 columns hide-for-small coll-fix-right">
        <aside class="profile-settings__ctrl-panel-b">
          <ul>
            <li>
              <a href="#details" class="ctrl-panel__item-link">Основное</a>
            </li>
            <li>
              <a href="#contacts" class="ctrl-panel__item-link">Контакты</a>
            </li>
            <li>
              <a href="#location" class="ctrl-panel__item-link">Места проживания</a>
            </li>
            <li>
              <a href="#aboutS" class="ctrl-panel__item-link">О себе</a>
            </li>
            <li>
              <a href="#security" class="ctrl-panel__item-link">Безопастность</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="large-7 small-12 columns end">
        <article class="profile-settings-wrapper">
          <div class="box_border box__wrapper">
            <div class="profile-settings__header">
              <h2 class="profile-settings__header-title" id="details">Детали профиля</h2>
            </div>

            <fieldset class="profile-settings__body" form="cabinetSettings">
              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="fn2" class="label">Имя</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings>
                    Другим пользователям важно знать как вас зовут
                  </div>
                  <input type="text" class="input"
                         name="cabinetSettings[firstName]"
                         id="fn2"
                         data-focus-element
                         placeholder="Ваше имя">
                </div>
              </div>

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="ln2" class="label">Фамилия</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings>
                    Стоит укозать настоящию данные
                  </div>
                  <input type="text" class="input"
                         name="cabinetSettings[lastName]"
                         id="ln2"
                         data-focus-element
                         placeholder="Ваша фамилия">
                </div>
              </div>
              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="bDay" class="label">Дата рождения</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings>
                    Указываейте настоящую дату
                  </div>
                  <input type="date" class="input"
                         name="cabinetSettings[birthday]"
                         id="bDay"
                         data-focus-element
                         placeholder="Дата рождения">
                </div>
              </div>

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="gender" class="label">Пол</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings>
                    Не стоит скрывать свой пол
                  </div>
                  <select name="cabinetSettings[gender]" id="gender" class="select" data-focus-element>
                    <option value="0">Скрыть</option>
                    <option value="1">Мужской</option>
                    <option value="2">Женский</option>
                  </select>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="box_border box__wrapper">
            <div class="profile-settings__header">
              <h2 class="profile-settings__header-title" id="contacts">Контакты</h2>
            </div>
            <fieldset class="profile-settings__body" form="cabinetSettings">

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="email" class="label">Электронная почта</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings>
                    Самые свежие новости приходят на указанную почту
                  </div>
                  <input type="email" class="input"
                         name="cabinetSettings[email]"
                         id="email"
                         data-focus-element
                         placeholder="Сменить электронную почту">
                </div>
              </div>

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="phone" class="label">Телефон</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings></div>
                  <input type="text" class="input"
                         name="cabinetSettings[phone]"
                         id="phone"
                         data-focus-element
                         placeholder="Телефон">
                </div>
              </div>

            </fieldset>
          </div>

          <div class="box_border box__wrapper">
            <div class="profile-settings__header">
              <h2 class="profile-settings__header-title" id="location">Локация</h2>
            </div>
            <fieldset class="profile-settings__body" form="cabinetSettings">

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="country" class="label">Страна</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings></div>
                  <input type="text" class="input"
                         name="cabinetSettings[country]"
                         id="country"
                         data-focus-element
                         placeholder="Страна">
                </div>
              </div>

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="city" class="label">Город</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings></div>
                  <input type="text"
                         name="cabinetSettings[city]"
                         id="city"
                         data-focus-element
                         placeholder="Город">
                </div>
              </div>

            </fieldset>
          </div>

          <div class="box_border box__wrapper">
            <div class="profile-settings__header">
              <h2 class="profile-settings__header-title" id="aboutS">О себе</h2>
            </div>
            <fieldset class="profile-settings__body" form="cabinetSettings">

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element">
                  <label for="interests" class="label">Интересы</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="helper__settings" data-helper-settings></div>
                  <input type="text" class="input"
                         id="interests"
                         name="cabinetSettings[interests]"
                         data-focus-element
                         placeholder="Интересы">
                </div>
              </div>

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element flex-element_top">
                  <label for="about" class="label">О себе</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <textarea class="textarea"
                    name="cabinetSettings[about]"
                    id="about"
                    cols="30"
                    rows="10"
                    data-focus-element
                    placeholder="Введите текст"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="box_border box__wrapper">
            <div class="profile-settings__header">
              <h2 class="profile-settings__header-title" id="security">Безопастность</h2>
            </div>
            <fieldset class="profile-settings__body">

              <div class="wrapper wrapper__settings flex-container__settings">
                <div class="flex-element flex-element_top">
                  <label for="password" class="label">Сменить пароль</label>
                </div>
                <div class="flex-element"
                     set-class-name-focus
                     data-set-class="helper__settings_show"
                     data-hide-element="data-helper-settings"
                     data-focus-element="data-focus-element">
                  <div class="settings__pwd-b">
                    <div class="helper__settings" data-helper-settings></div>
                    <input type="password"
                           name="cabinetSettings[password]"
                           id="password"
                           data-focus-element
                           placeholder="Старый пароль">
                  </div>
                  <div class="settings__pwd-b">
                    <input type="password"
                           name="cabinetSettings[passwordNew]"
                           placeholder="Новый пароль">
                  </div>
                </div>
              </div>

            </fieldset>

            <div class="profile-settings__form">
              <form action="/user/profile/settings/action-form"
                    method="post"
                    enctype="multipart/form-data"
                    novalidate
                    id="cabinetSettings"
                    name="cabinetSettings" id="profile_settings">
                <div class="wrapper wrapper__settings flex-container__settings btn-box__settings">
                  <div class="flex-element">
                    <button class="btn btn__settings btn__settings-save">Сохронить</button>
                  </div>
                  <div class="flex-element">
                    <button class="btn btn__settings btn__settings-cancel">Отменить</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
