<section class="cabinet-body">
  <div class="center-b">
    <div class="row row-fix">
      <div class="large-2 small-12 columns hide-for-small coll-fix-right">
        <aside class="profile-settings__ctrl-panel-b">
          <ul>
            <li>
              <a href="#" class="ctrl-panel__item-link">Основное</a>
            </li>
            <li>
              <a href="#" class="ctrl-panel__item-link">Контакты</a>
            </li>
            <li>
              <a href="#" class="ctrl-panel__item-link">Места проживания</a>
            </li>
            <li>
              <a href="#" class="ctrl-panel__item-link">О себе</a>
            </li>
            <li>
              <a href="#" class="ctrl-panel__item-link">Безопастность</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="large-7 small-12 columns end">
        <settings-form-component>Настройки...</settings-form-component>
      </div>
    </div>
  </div>
</section>
