<% layout('../../../layout/index') %>

<% if(auth){ %>
<top-menu-auth-external-component>Загрузка...</top-menu-auth-external-component>
<% }else {%>
<top-menu>Загрузка...</top-menu>
<% } %>

<section class="wrapper wrapper_static-box wrapper__regulations">
  <header class="header header__regulations">
    <h1 class="title title_big">Правила использования</h1>
  </header>
  <div class="wrapper regulations-body">
    <ul class="ul">
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <div>
          <p class="text text__regular-item">
            Сайт не занимается непосредственно организацией экскурсий  и ограничивается предоставлением контактной информации Гида непосредственно Пользователю, являющимся потребителем данной информации.
          </p>
        </div>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <div>
          <p class="text text__regular-item">
            Зарегистрированный Поставщик услуг может находиться в любом городе или регионе Беларуси.
          </p>
        </div>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <div>
          <p class="text text__regular-item">
            Сайт yo-guide.com является платформой для предоставления услуг по поиску и бронированию Гидов, Экскурсий, билетов на мероприятия.
          </p>
        </div>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <div>
          <p class="text text__regular-item">
            Регистрируясь на сайте yo-guide.com, каждый пользователь соглашается с данными Правилами работы сервиса и обязуется соблюдать их.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

