<% layout('template.admin') %>

<div class="wrapper">
  <div class="row row-fix">
    <div class="large-2 columns columns-fix">
      <h2 class="admin-body__header"><%=typePage %></h2>
      <% include components/admin_navigation.ejs %>
    </div>
    <div class="large-10 columns columns-fix">
      <h2 class="admin-body__header">Панель управления</h2>

    </div>
  </div>
</div>
