<section class="cabinet-body">
  <div class="center-b">
    <div class="row row-fix">

      <div class="large-4 small-12 columns coll-fix-right">
        <div class="box">
          <h2 class="title title__messages">Сообщения</h2>

          <div class="btn btn__new-message">Новое сообщение</div>

          <div class="wrapper wrapper__messages-contact">
            <ul>
              <li class="list-item messages-contact__item" ng-repeat="test in [1, 2, 3]">
                <div>
                  <a href="#" class="link">
                    <img src="/design/img/oval-5.png" alt="" class="images">
                  </a>
                </div>

                <div class="wrapper">
                  <h3 class="messages-contact__name">Имя</h3>
                  <div class="messages-contact__message_small">аыаы а ыа ыюю...</div>
                  <div class="messages-contact__message-time">14.01</div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="large-8 small-12 columns">
        <div class="box">

          <h2 class="title title__messages">Чёрный Николай</h2>

          <div class="wrapper wrapper__messages">
            <ul>
              <li class="list-item item-message-box" ng-repeat="test in [1,2,3]">
                <div class="item-message__media">
                  <a href="#" class="link item-message__auth-media">
                    <img src="###" alt="" class="images">
                  </a>
                </div>
                <div class="item-message__content">
                  <div class="title title__item-message">Lumina Records</div>
                  <div class="text text__item-message">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquid aperiam at commodi cum cumque dolore dolores, maiores minus obcaecati omnis quaerat quidem quis rem saepe sunt unde vero?
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque debitis esse eum, neque optio quae quas reiciendis sunt voluptatum? At dignissimos dolores facilis officiis porro quas tempora ullam veniam.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="wrapper wrapper__message-panel">
            <div>
              <div class="title title__message-panel">Написать сообщение</div>

              <textarea name="" cols="30" rows="10" class="textarea"></textarea>

              <div class="wrapper">
                <button class="btn btn__send-message">Отправить</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
