<section class="cabinet-body">
  <div class="center-b">
    <div class="row row-fix">
      <div class="large-4 small-12 columns coll-fix-right">
        <div class="box">
          <div class="cabinet-msg__header">
            <h1 class="cabinet-msg__header-title">Сообщения</h1> </div>
          <div class="msg-container" id="contact">
            <ul class="msg-user__lists">
              <li class="list-item list-item_mini">
                <aside class="row row-fix">
                  <figure class="large-2 small-2 columns coll-fix-right">
                    <a href="#"> <img src="/design/img/oval-5.png" alt=""> </a>
                  </figure>
                  <div class="large-10 small-10 columns">
                    <h3 class="msg-item__header-title">
                      Сергей Петров
                    </h3>
                    <div class="msg-item__body-text_mini"> Привет, ман! Это Ричи. Хочу качнуть твои два микса, но скачка их закрыта... </div>
                  </div>
                  <div class="msg-item__last-time">13 минут</div>
                </aside>
              </li>
              <li class="list-item list-item_mini">
                <aside class="row row-fix">
                  <figure class="large-2 small-2 columns coll-fix-right"> <img src="/design/img/oval-5.png" alt=""> </figure>
                  <div class="large-10 small-10 columns">
                    <h3 class="msg-item__header-title">Сергей Петров</h3>
                    <div class="msg-item__body-text_mini"> Привет, ман! Это Ричи. Хочу качнуть твои два микса, но скачка их закрыта... </div>
                  </div>
                  <div class="msg-item__last-time">13 минут</div>
                </aside>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="large-8 small-12 columns">
        <div class="box">
          <div class="conversations-msg-b">
            <div class="conversations-msg__header">
              <h2 class="conversations-msg__header-title">Василий Иванов</h2>
            </div>
            <ul class="msg-user__lists">
              <li class="list-item">
                <aside class="row row-fix">
                  <figure class="large-1 small-1 columns coll-fix">
                    <a href="#"> <img src="/design/img/oval-5.png" alt=""> </a>
                  </figure>
                  <div class="large-11 small-11 columns">
                    <h3 class="msg-item__header-title">
                      Сергей Петров
                    </h3>
                    <div class="msg-item__body-text_mini"> Привет, ман! Это Ричи. Хочу качнуть твои два микса, но скачка их закрыта... </div>
                  </div>
                  <div class="msg-item__last-time">2 дня</div>
                </aside>
              </li>
              <li class="list-item">
                <aside class="row row-fix">
                  <figure class="large-1 small-1 columns coll-fix">
                    <a href="#"> <img src="/design/img/oval-5.png" alt=""> </a>
                  </figure>
                  <div class="large-11 small-11 columns">
                    <h3 class="msg-item__header-title">

                    </h3>
                    <div class="msg-item__body-text_mini"> Привет, ман! Это Ричи. Хочу качнуть твои два микса, но скачка их закрыта... </div>
                  </div>
                  <div class="msg-item__last-time">13 минут</div>
                </aside>
              </li>
            </ul>
            <div class="row row-fix msg-footer-b">
              <div class="large-1 small-1 columns"></div>
              <div class="large-11 small-11 columns">
                <aside class="msg-footer__control-panel">
                  <h3 class="msg-footer__title">Напишите сообщение</h3>
                  <form action="#" method="post" class="msg-footer__form-msg">
                    <div class="form-msg__item-pole">
                      <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-msg__send-b">
                      <button type="button" class="form-msg__btn-send" id="msg-send">Отправить</button>
                    </div>
                  </form>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
