<% layout('../../../layout/index') %>

<% if(auth){ %>
<top-menu-auth-external-component>Загрузка...</top-menu-auth-external-component>
<% }else {%>
<top-menu>Загрузка...</top-menu>
<% } %>

<section class="wrapper">
  <div class="wrapper__about">
    <header class="header header__about">
      <h1 class="title title_small">О нас</h1>
      <div class="text text__big">
        Мы стремимся изменить концепцию Путешествуя делая его более аутентичным, более локальны.
      </div>
    </header>

    <div class="wrapper wrapper__history_move-up">
      <div class="about-history">
        <h2 class="title title_medium">НАША ИСТОРИЯ</h2>
        <div class="text text_lead">
          Нет никаких причин, чтобы быть просто туристом, когда есть возможность что бы местные жители вам, более красивые и более аутентичные версии своего города.
        </div>
        <div class="text text__about">
          Showaround is all about the activities that happen when you’re not lounging around your hotel room, and they can start from the moment you arrive at your destination. From pick-up to departure, a Showaround local can be at your side – it’s like having a knowledgeable friend in every city you visit.
        </div>
      </div>

      <div class="wrapper wrapper__family">
        <h2 class="title title_big">OUR TEAM</h2>
        <h3 class="title title_medium">Hello. It’s nice to finally meet you.</h3>

        <div class="wrapper wrapper__family-builder">
          <ul class="ul">

            <li class="list-item family-builder__item-box">
              <div class="wrapper wrapper__media">
                <img src="<%=imagesDir%>/pages/about/nick.jpg" alt="Nick Cherny" class="images images__family-builder">
              </div>
              <div class="title title_big">
                Николай Чёрный
              </div>
              <div class="title title_medium">
                Директор проектов и сооснователь
              </div>
              <div class="text text__family-builder">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque eligendi eveniet iure nemo, officiis voluptatem? At aut eum eveniet incidunt minus nam nisi, quod repudiandae sapiente sequi sit tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, earum exercitationem fuga ipsam molestiae quas? Alias animi consectetur cupiditate, ea eveniet fugit minima non, numquam provident repudiandae tempore, totam veniam.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
