<% layout('../../../layout/template') %>

<% if(auth){ %>
<top-menu-auth>Загрузка...</top-menu-auth>
<% }else {%>
<top-menu>Загрузка...</top-menu>
<% } %>

<section class="wrapper wrapper_static-box">
  <h1>Как это всё работает</h1>
</section>
