//@section angular style (begin)
@import "../design.patterns/style.settings";
.overflow-hidden{
  overflow-y: hidden;
}
.ng-form-valid{
  border-color: $Color2!important;
}
.ng-form-error{
  border-color: $errorColor!important;
}
.toggle-container_show{
  display: block!important;
}
//@section angular style (end)
