<% layout('../template.admin') %>

<div class="wrapper">
  <div class="row row-fix">
    <div class="large-2 columns columns-fix">
      <h2 class="admin-body__header"><%=typePage %></h2>
      <% include ../components/admin_navigation.ejs %>
    </div>
    <div class="large-10 columns columns-fix">
      <h2 class="admin-body__header">Панель управления</h2>
      <div class="admin-body">
        <form action="/admin/project/add"
              method="post"
              enctype="multipart/form-data"
              name="addProjectPhoto">
          <input type="file" name="file" placeholder="Загрузить картинку" accept="image/*" multiple>
          <input type="text" name="title" placeholder="Название проекта">
          <div>
            <div>Тип проекта</div>
            <input type="radio" name="projectType" id="team" value="team"><label for="team">Командный проект</label><br>
            <input type="radio" name="projectType" id="item" value="item" checked><label for="item">Личный проект</label><br>
          </div>
          <textarea name="text" id="text" cols="30" rows="10" placeholder="Описания проекта"></textarea>
          <input type="submit" value="Отправить">
        </form>
      </div>
    </div>
  </div>
</div>
