<% layout('../template') %>
<top-menu>Загрузка...</top-menu>
<section class="main">
  <header class="header">
    <div class="main__container-h">
      <div class="middle">
        <h1 class="header__title">Каждый день новые знакомства</h1>
      </div>
    </div>
    <div class="header__btn-b">
      <a href="" class="header__btn-link">Узнать больше</a>
    </div>
  </header>
</section>

<section class="search-section">
</section>

<section class="hero-section">
  <div class="row row-fix">
    <div class="hero-content large-6 small-12 columns">
      <h1 class="hero-content__tile">Встречи, изменившие вас</h1>
      <div class="hero__btn">
        <a href="#">Как это работает</a>
      </div>
    </div>

    <div class="hero-content large-6 small-12 columns">
      <div class="hero-card">
        <h2 class="hero-card__title">RUSSIA, Moscow</h2>
        <div class="hero-card__people">
          <div class="hero-card__people-media">
            <div class="hero-card__people-media_item">
              <img src="/images/pages/main/main_page__turist1.png" alt="" class="hero-images">
              <h3 class="hero-card__people-name">Vova</h3>
            </div>
            <div class="hero-card__people-media_item">
              <img src="/images/pages/main/mian_page_guide1.png" alt="" class="hero-images">
              <h3 class="hero-card__people-name">Natali</h3>
            </div>
          </div>
        </div>
        <div class="hero-card__people-text">
          When I was traveling solo around Europe this summer, I used YoGuide to meet new people.
          Mari was at the weekly YoGuide event in Moscow and I feel so lucky to have met his!
        </div>
      </div>
    </div>
  </div>
</section>

<section class="use-diagram">
  <h1 class="use-diagram__header-title">How It Works</h1>
</section>

<section class="begin-use">
  <div class="begin-use__content">
    <h1 class="begin-use__title">Ready for your next adventure?</h1>
    <div class="begin-use__btn"><a href="#">Plan a Trip</a></div>
  </div>
</section>





<!--<div>-->
  <!--<section class="main-page-support-b">-->
        <!--<div class="large-4 columns">-->
          <!--<article class="body-hero-content-wrapper">-->
            <!--<h3 class="body-hero-content__title_header">Россия, Москва</h3>-->
            <!--<div class="row row-fix">-->
              <!--<div class="large-6 columns">-->
                <!--<div class="body-hero-content__user-photo">-->
                  <!--<img src="/images/pages/main/main_page__turist1.png"-->
                       <!--alt="William"-->
                       <!--class="body-hero-content__user-photo-img">-->
                <!--</div>-->
                <!--<div class="body-hero-content__user-name">William Strits</div>-->
                <!--<div class="body-hero-content__user-text">-->
                  <!--When I was traveling solo around Europe this summer, I used YoGuide to meet new people.-->
                  <!--Mari was at the weekly YoGuide event in Moscow and I feel so lucky to have met his!-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="large-6 columns">-->
                <!--<div class="body-hero-content__user-photo">-->
                  <!--<img src="/images/pages/main/mian_page_guide1.png"-->
                       <!--alt="Маша"-->
                       <!--class="body-hero-content__user-photo-img">-->
                <!--</div>-->
                <!--<div class="body-hero-content__user-name">Мария Юркова</div>-->
                <!--<div class="body-hero-content__user-text">-->
                  <!--Мне было очень приятно принимать у себя в гостях Williama, мы отлично провери время, сходили в парк имени Горького, к Кремлю, и конечно ночью прошлись по знаменитым Московским клубам.-->
                  <!--Мне очень понравился такой опыт, плюс эта была отличная возможность по практиковаться в Английском языке, с носителем языка.-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</article>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

  <!--<section class="main-page-support-b__top-space">-->
    <!--<div class="main-page-support__body-b main-page-support__body_street-img">-->
      <!--<div class="row row-fix">-->
        <!--<div class="large-4 columns">-->
          <!--<article class="body-hero-content-wrapper">-->
            <!--<h3 class="body-hero-content__title_header">Россия, Москва</h3>-->
            <!--<div class="row row-fix">-->
              <!--<div class="large-6 columns">-->
                <!--<div class="body-hero-content__user-photo">-->
                  <!--<img src="/images/pages/main/main_page__turist1.png"-->
                       <!--alt="William"-->
                       <!--class="body-hero-content__user-photo-img">-->
                <!--</div>-->
                <!--<div class="body-hero-content__user-name">William Strits</div>-->
                <!--<div class="body-hero-content__user-text">-->
                  <!--When I was traveling solo around Europe this summer, I used YoGuide to meet new people.-->
                  <!--Mari was at the weekly YoGuide event in Moscow and I feel so lucky to have met his!-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="large-6 columns">-->
                <!--<div class="body-hero-content__user-photo">-->
                  <!--<img src="/images/pages/main/mian_page_guide1.png"-->
                       <!--alt="Маша"-->
                       <!--class="body-hero-content__user-photo-img">-->
                <!--</div>-->
                <!--<div class="body-hero-content__user-name">Мария Юркова</div>-->
                <!--<div class="body-hero-content__user-text">-->
                  <!--Мне было очень приятно принимать у себя в гостях Williama, мы отлично провери время, сходили в парк имени Горького, к Кремлю, и конечно ночью прошлись по знаменитым Московским клубам.-->
                  <!--Мне очень понравился такой опыт, плюс эта была отличная возможность по практиковаться в Английском языке, с носителем языка.-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</article>-->
        <!--</div>-->
        <!--<div class="large-8 columns">-->
          <!--<article class="body-hero-wrapper">-->
            <!--<h2 class="body-hero-title body-hero-title_lead">Культура из первых уст</h2>-->
            <!--<div class="body-hero__btn-more-info">-->
              <!--<a href="" class="body-hero__btn-more-info-link">Узнать больше</a>-->
            <!--</div>-->
          <!--</article>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

  <!--<section class="main-page-ready-go">-->
    <!--<h1 class="main-page-ready-go__title">Готовы узнавать мир, здесь и сейчас?</h1>-->
    <!--<div class="main-page-ready-go__btns-b">-->
      <!--1-->
    <!--</div>-->
  <!--</section>-->
<!--</div>-->
