<% layout('../template') %>
<top-menu>Загрузка...</top-menu>

<section class="main">
  <header class="header">
    <div class="main__container-h">
      <div class="middle">
        <h1 class="header__title">Каждый день новые знакомства</h1>
      </div>
    </div>
    <div class="header__btn-b">
      <a href="/about" class="header__btn-link">Узнать больше</a>
    </div>
  </header>
</section>

<section class="search-section">
</section>

<section class="hero-section">
  <div class="row row-fix">
    <div class="hero-content large-6 small-12 columns">
      <h1 class="hero-content__tile">Встречи меньющие нас</h1>
      <div class="hero__btn">
        <a href="/about">Как это работает</a>
      </div>
    </div>

    <div class="hero-content large-6 small-12 columns">
      <div class="hero-card">
        <h2 class="hero-card__title">RUSSIA, Moscow</h2>
        <div class="hero-card__people">
          <div class="hero-card__people-media">
            <div class="hero-card__people-media_item">
              <img src="<%=imagesDir%>/pages/main/main_page__turist1.png" alt="" class="hero-images">
              <h3 class="hero-card__people-name">Vova</h3>
            </div>
            <div class="hero-card__people-media_item">
              <img src="<%=imagesDir%>/pages/main/mian_page_guide1.png" alt="" class="hero-images">
              <h3 class="hero-card__people-name">Natali</h3>
            </div>
          </div>
        </div>
        <div class="hero-card__people-text">
          When I was traveling solo around Europe this summer, I used YoGuide to meet new people.
          Mari was at the weekly YoGuide event in Moscow and I feel so lucky to have met his!
        </div>
      </div>
    </div>
  </div>
</section>

<section class="use-diagram">
  <h1 class="use-diagram__header-title">How It Works</h1>
</section>

<section class="begin-use">
  <div class="begin-use__content">
    <h1 class="begin-use__title">Ready for your next adventure?</h1>
    <div class="begin-use__btn"><a href="#">Plan a Trip</a></div>
  </div>
</section>
