<!doctype html>
<html lang="en" ng-app="adminApp">
<head>
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<%-body%>

<script src="/js/admin.js"></script>
</body>
</html>
