<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
  <% include ../templates/meta.ejs %>

  <title><%- title %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body ng-controller="applicationCtrl as mainCtrl">

<%-body%>

<footer-component></footer-component>
<script src="/js/main.js"></script>
</body>
</html>
