<footer class="footer">
  <article class="footer-b">
    <div class="card-site">
      <div class="row row-fix">
        <div class="large-2 small-12 columns">
          <h3 class="card-site__title">Компания</h3>
          <ul>
            <li class="card-site__item"><a href="/about" class="card-site__item-link" title="Узнать больше о проекте">О нас</a></li>
            <li class="card-site__item"><a href="/regulations" class="card-site__item-link" title="Ознакомиться с правилами использования">Правила</a></li>
            <li class="card-site__item"><a href="/about/founders" class="card-site__item-link" title="Создатели проекта">Команда проекта</a></li>
          </ul>
        </div>
        <div class="large-2 small-12 columns">
          <h3 class="card-site__title">Узнать о нас больше</h3>
          <ul>
            <li class="card-site__item"><a href="/contact" class="card-site__item-link" title="Обратная связь">Связаться с нами</a></li>
          </ul>
        </div>
        <div class="large-2 small-12 columns">
          <h3 class="card-site__title">Туры</h3>
          <ul>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Почему стоит организовывать туры</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Гостеприимство</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Как стать хорошим гидом</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Безопастность</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Планирование тура</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social">
      <h3 class="social-title">Присоединяйтесь к нам!</h3>
      <ul class="social-b">
        <li class="social__item"><a href="#" class="social__item-link" title="facebook">facebook</a></li>
        <li class="social__item"><a href="#" class="social__item-link" title="google+">google+</a></li>
        <li class="social__item"><a href="#" class="social__item-link" title="vk">vk</a></li>
        <li class="social__item"><a href="#" class="social__item-link" title="twitter">twitter</a></li>
        <li class="social__item"><a href="#" class="social__item-link" title="youtube">youtube</a></li>
        <li class="social__item"><a href="#" class="social__item-link" title="instagram">instagram</a></li>
      </ul>
    </div>
  </article>
</footer>
