<footer class="footer">
  <article class="footer-b">
    <div class="card-site">
      <div class="row row-fix">
        <div class="large-2 small-12 columns">
          <h3 class="card-site__title">Компания</h3>
          <ul>
            <li class="card-site__item"><a href="/about" class="card-site__item-link">Об Yo-Guide</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Работа</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Пресса о нас</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Блог</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Помощь</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Правила</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Помощь при стихийных бедствиях</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Условия и кофиденциальность</a></li>
          </ul>
        </div>
        <div class="large-2 small-12 columns">
          <h3 class="card-site__title">Узнать о нас больше</h3>
          <ul>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Доверие и безопастность</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Бонус на туры</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Выбор YoGuide</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Деловые поездки</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Карта сайта</a></li>
            <li class="card-site__item"><a href="/contact" class="card-site__item-link">Связаться с нами</a></li>
          </ul>
        </div>
        <div class="large-2 small-12 columns">
          <h3 class="card-site__title">Туры</h3>
          <ul>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Почему стоит организовывать туры</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Гостеприимство</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Как стать хорошим гидом</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Безопастность</a></li>
            <li class="card-site__item"><a href="#" class="card-site__item-link">Планирование тура</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social">
      <h3 class="social-title">Присоединяйтесь к нам!</h3>
      <ul class="social-b">
        <li class="social__item"><a href="#" class="social__item-link">facebook</a></li>
        <li class="social__item"><a href="#" class="social__item-link">google+</a></li>
        <li class="social__item"><a href="#" class="social__item-link">vkantakte</a></li>
        <li class="social__item"><a href="#" class="social__item-link">twitter</a></li>
        <li class="social__item"><a href="#" class="social__item-link">youtube</a></li>
        <li class="social__item"><a href="#" class="social__item-link">instagram</a></li>
      </ul>
    </div>
  </article>
</footer>
