@import "../design.patterns/style.settings";
.admin-error__message{
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', serif;
  font-weight: 900;
  color: #d33682;
}
.wrapper__wight-block{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 200;
  font-family: $ff;
}
.admin-wrapper__login{
  padding: 10px;
  margin: 80px auto;
  position: relative;
  max-width: 300px;
  box-shadow: 0px 0px 19px 0px rgba(161,159,161,1);
}
.admin-body__header{
  position: relative;
  text-align: left;
  padding: 20px 20px;
  font-size: 18px;
  line-height: 20px;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  margin: 0;
  font-family: $ff;
  &:last-child{
    border-right: 0px solid #d3d3d3;
  }
}
// @subsection header (begin)
$adminHeaderColor: #f7f7f7;
$adminHeaderTextColor: #989898;
.admin-header{
  position: relative;
  padding: 0;
  box-shadow: 0px 4px 7px 0px rgba(186,186,186,1);
  font-family: $ff;
  .admin-header_admin-messages{
    padding: 5px 20px;
    background-color: #ffffff;
    color: $adminHeaderTextColor;
    font-weight: 800;
    font-size: 24px;
  }
}
.admin-nav-top{
  position: relative;
  background-color: $adminHeaderColor;
  padding: 0 20px;
  ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .admin-nav-top__item{
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 6px;
    border-bottom: 4px solid $adminHeaderColor;
    .admin-nav-top__item-link{
      transition: all 300ms;
      color: darken($adminHeaderTextColor, 20%);
      text-transform: capitalize;
    }
    &:hover{
      .admin-nav-top__item-link{
        color: darken($adminHeaderTextColor, 40%);
      }
    }
  }
}
.admin-body{
  position: relative;
  padding: 10px 20px;
}
// @subsection header (end)

//@subsection navigation (begin)
.admin-navigation{
  position: relative;
  padding-top: 10px;
  .admin-navigation-panel{
    position: relative;
    margin: 0;
    .admin-navigation_active{
      background-color: darken(#3051a0, 20%)!important;
    }
    .admin-navigation-panel__item{
      transition: all 300ms;
      transition-timing-function: ease-in;
      background-color: #3051a0;
      display: block;
      line-height: 34px;
      cursor: pointer;
      border-bottom: 1px solid lighten(#3051a0, 2%);
      .admin-navigation-panel__item-link{
        padding: 5px 20px;
        color: #ffffff;
        font-size: 14px;
        display: block;
      }
      &:hover{
        background-color: lighten(#3051a0, 10%);
      }
    }
  }
}
.wrapper{
  position: relative;
  &:before, &:after{
    content: "";
    display: table;
  };
  &:after{
    clear: both;
  }
}
.admin-box{
  padding: 0 15px;
}
.create-project-settings-box{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .create-project-form{
    width: 60%;
  }
}
.create-project__item{
  position: relative;
  margin-bottom: 30px;
  .create-project__item-title{
    font-size: 21px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
  }
}
.create-project__item-share-box{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  label{
    width: 100px;
    line-height: 35px;
  }
}
.create-project-add-photo{
  transition: all 300ms;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3051a0;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0px rgba(240,240,240,1);
  &:hover{
    box-shadow: 1px 1px 1px 0px rgb(165, 164, 165);
  }
  &:before{
    content: "";
    display: block;
    position: relative;
    left: 9px;
    top: 3px;
    width: 2px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 10px;
  }
  &:after{
    content: "";
    display: block;
    position: relative;
    top: -5px;
    left: 4px;
    height: 2px;
    width: 13px;
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 10px;
  }
}
.delete-photo{
  position: absolute;
  transition: all 300ms;
  top: 0;
  right: 0;
  display: inline-block;
  cursor: pointer;
  &:hover{
    span{
      background-color: rgb(247, 255, 252);
      &:after, &:before{
        background-color: #ff5640;
      }
    }
  }
  span{
    transition: all 300ms;
    position: relative;
    top: 5px;
    right: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 16px;
    background-color: rgba(247, 255, 252, 0.56);
    border-radius: 50%;
    &:after, &:before{
      display: inline-block;
      position: absolute;
      top: 7px;
      right: 3px;
      content: "";
      width: 10px;
      height: 2px;
      background-color: #000000;
    }
    &:after{
      transform: rotate(50deg);
    }
    &:before{
      transform: rotate(-50deg);
    }
  }
}
.photo-list-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  .photo-list__item{
    position: relative;
    overflow: hidden;
    margin: 0;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 5px;
    .photo-list__item-photo{
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  }
}
.photo-list__photo-info{
  position: relative;
  text-align: left;
  font-size: 13px;
}
//@subsection navigation (end)
