@import "../design.patterns/style.settings";
@import "../design.patterns/forms.patterns";
//@section@ settings profile (begin)
.wrapper__settings{
  font-family: $ff;
  font-size: 16px;
  margin-bottom: 20px;
}
.flex-container__settings{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .flex-element{
    &:first-child{
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-basis: 140px;
    }
    &:last-child{
      flex-grow: 4;
    }
  }
  .flex-element_top{
    padding-top: 9px;
    align-items: baseline!important;
  }
}
.wrapper__settings{
  .label{
    background-color: transparent;
    font-size: 14px;
    color: lighten($Color5, 40%);
    font-weight: 100;
    padding: 0;
    margin: 0;
    vertical-align: top;
  }
  .input{
    font-size: 14px;
    margin: 0;
    border-radius: 3px;
  }
}
.btn-box__settings{
  .flex-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.helper__settings{
  display: none;
  position: absolute;
  top: -10px;
  right: 0px;
  font-family: $ff;
  font-size: 10px;
  color: lighten($Color5, 70%);
  padding: 3px 10px;
  text-align: left;
  background-color: rgba($Color5, .8);
}
.helper__settings_show{
  display: block;
}
.helper__settings-error{
  font-size: 12px;
  font-weight: 100;
  color: $errorColor;
  text-align: left;
}
.profile-settings__ctrl-panel-b{
  position: relative;
  height: 200px;
  width: 200px;
  &::after, &::before{
    content: "";
    display: table;
    clear: both;
  }
  .flex-box__ctrl-panel{
    position: fixed;
  }
}
.flex-box__ctrl-panel{
  .li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .link__ctrl-panel{
      transition: all 300ms;
      padding: 10px 0;
      color: $Color5;
      font-size: 16px;
      font-weight: 500;
      &:hover{
        color: lighten($Color5, 20%);
      }
    }
  }
}
.wrapper__settings{
  .btn__settings, .btn__settings:focus{
    background-color: $Color1;
    &:hover{
      background-color: $Color1;
      box-shadow: 0px 2px 1px 0px darken($Color1, 20%);
    }
    &:active{
      background-color: darken($Color1, 20%);
      box-shadow: none;
    }
  }
}
.wrapper__settings{
  .btn__settings-cancel, .btn__settings-cancel:focus{
    background-color: $Color3;
    &:hover{
      background-color: $Color3;
      box-shadow: 0px 2px 1px 0px darken($Color3, 20%);
    }
    &:active{
      background-color: darken($Color3, 20%);
      box-shadow: none;
    }
  }
}
.images__upload-photo{
  max-width: 80px;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #4c4c4c;
}









.profile-settings-wrapper {
  position: relative;
  font-family: $ff;
  font-size: 14px;
  color: #232121;
  font-weight: 500;
}
.profile-settings-wrapper {
  .profile-settings__item-inpt-description{
    line-height: 25px;
    color: lighten(#232121, 20%);
  }
}
.profile-settings__header{
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  .profile-settings__header-title{
    font-family: $ff;
    font-size: $fs_medium+px;
    font-size: rem-calc($fs_medium);
    color: #4b4b4b;
    text-align: left;
  }
}
.profile-settings__item{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .profile-settings__item-label{
    width: 20%;
    label{
      padding-top: 10px;
      font-family: $ff;
      font-size: $fs_small+px;
      font-size: rem-calc($fs_small);
      line-height: 22px;
    }
  }
  .profile-settings__item-pole{
    width: 80%;
    input, select{
      font-family: $ff;
      font-size: $fs_small+px;
      font-size: rem-calc($fs_small);
      border-radius: 3px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 36px;
      height: rem-calc(36);
    }
  }
}
.profile-settings__body{
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}
.interests__list {
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #6e6e6e;
  border-radius: 15px;
  text-transform: lowercase;
  .interests__list-del{
    display: inline-block;
    position: relative;
    top: 2px;
    width: 10px;
    height: 11px;
    cursor: pointer;
    &:hover{
      &:before, &:after{
        background-color: $Color1;
      }
    }
    &:before, &:after{
      transition: all 300ms;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      content: "";
      display: block;
      height: 10px;
      width: 2px;
      background-color: #7094a8;
      border-radius: 5px;
    }
    &:before{
      transform: rotate(40deg);
    }
    &:after{
      transform: rotate(-40deg);
    }
  }
}
.settings__item-inpt_about-text {
  resize: none;
}
.profile-settings__form {
  position: relative;
  margin-top: 60px;
  .profile-settings__send-form {
    max-width: 200px;
    border: 0;

  }
}
.profile-settings__form{
  .profile-settings-btn_destroy{
    background-color: transparent;
    border: 2px solid $Color1;
    color: $Color1;
    &:hover{
      color: #ffffff;
      background-color: $Color1;
      border: 2px solid $Color1;
      box-shadow: 0px 2px 1px 0px darken($Color1, 20%);
    }
    &:active{
      border-color: darken($Color1, 20%);
      background-color: darken($Color1, 20%);
      box-shadow: none;
      color: #fff;
    }
  }
}
.profile-settings__form{
  .profile-settings-btn_save{
    background-color: darken($Color2, 20%);
    &:hover{
      color: #ffffff;
      box-shadow: 0px 2px 1px 0px darken($Color2, 40%);
    }
    &:active{
      background-color: darken($Color2, 40%);
      box-shadow: none;
      color: #fff;
    }
  }
}
//@section@ settings profile (end)
