//@section cabinet (begin)
@import "../design.patterns/style.settings";

.center-block {
  max-width: 1284px;
  margin-left: auto;
  margin-right: auto;
}
.center-b {
  @extend .center-block;
}
.cabinet-body {
  background-color: #ececec;
  padding-top: 15px;
  padding-bottom: 27px;
}
.cabinet-b {
  position: relative;
  padding: 10px;
  padding: rem-calc(10);
  padding-bottom: 20px;
  padding-bottom: rem-calc(20);
  background-color: #fff;
}
.cabinet-title {
  margin: 0;
  font-family: $ff;
  font-size: 22px;
  font-size: rem-calc(22);
  color: $Color1;
  font-weight: 500;
  padding-bottom: 8px;
  padding-bottom: rem-calc(8);
  border-bottom: 1px solid #bbbbbb;
}
.cabinet-title_regular{
  font-family: "Roboto";
  font-size: 22px;
  color: #232121;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 20px;
}
.box {
  background-color: #fff;
  position: relative;
  padding: 20px 20px;
  padding: rem-calc(20) rem-calc(20);
}
.box_border {
  @extend .box;
  border-bottom: 2px solid #bfcad2;
}
.cabinet-travels__title {
  @extend .cabinet-title;
}

.cabinet-guests__item-b {
  position: relative;
  .cabinet-guests__item-title {
    font-size: 16px;
    font-size: rem-calc(16);
    font-weight: 500;
    color: #232121;
    margin-bottom: 10px;
    margin-bottom: rem-calc(10);
  }
}
.cabinet-guests__item-b {
  @extend .cabinet-guests__item-b;
  .cabinet-travels__item-title {
    @extend .cabinet-guests__item-title;
  }
}
.box__wrapper {
  margin-bottom: 20px;
  margin-bottom: rem-calc(20);
}
.profile-settings__item-inpt {
  .settings__pwd-b{
    margin-bottom: 15px;
  }
}
//@section cabinet (end)
