//@section navigation cabinet (begin)
@import "../design.patterns/style.settings";
.cabinet__cntrl-panel {
  font-family: $ff;
  position: relative;
  background-color: #474747;
  .cabinet__cntrl-panel-b {
    position: relative;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cabinet__cntrl-panel-b {
  .cabinet__cntrl-panel-item {
    display: inline-block;
    margin-right: 30px;
  }
}
.cabinet__cntrl-panel-item {
  .cabinet__cntrl-panel-item-link {
    transition: all 300ms;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 4px solid transparent;
    &:hover {
      color: $Color2;
    }
  }
  .cabinet-navigation__item-link_active{
    color: #fff;
    border-bottom-color: $Color2;
  }
}
.mobile-icon__cabinet-navigation{
  transition: all 300ms;
  height: 24px;
  width: 24px;
  fill: #fff;
  &:hover{
    fill: $Color2;
  }
}
//@section navigation cabinet (end)
