//@section navigation cabinet (begin)
@import "../design.patterns/style.settings";
.cabinet__cntrl-panel {
  font-family: $ff;
  position: relative;
  background-color: #474747;
  padding-top: 20px;
  padding-bottom: 20px;

  .cabinet__cntrl-panel-b {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cabinet__cntrl-panel-b {
  .cabinet__cntrl-panel-item {
    display: inline-block;
    margin-right: 30px;
  }
}
.cabinet__cntrl-panel-item {
  .cabinet__cntrl-panel-item-link {
    transition: all 300ms;
    font-size: 14px;
    color: #fff;
    &:hover {
      color: lighten($Color1, 40%);
    }
  }
}
//@section navigation cabinet (end)
