//@section user guest (begin)
@import "../design.patterns/style.settings";
.cabinet-guests__title {
  margin-bottom: 17px;
  margin-bottom: rem-calc(17);
}
.cabinet-guests__collections-b {
  position: relative;
  margin: 0;
  .cabinet-guests__item-guest-b {
    position: relative;
    overflow: hidden;
    font-family: $ff;
    line-height: 20px;
  }
}
.cabinet-guests__item-guest-b {
  .cabinet-guests__item-guest-link {
    text-decoration: none;
    .cabinet-guests__item-guest-photo {
      max-width: 100px;
      max-height: 100px;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
}
.cabinet-guests__item-guest-b {
  .cabinet-guests__item-guest-name {
    position: relative;
    margin: 0;
    line-height: 20px;
    a {
      transition: all 300ms;
      color: #232121;
      text-decoration: none;
      font-size: $fs_small+px;
      font-size: rem-calc($fs_small);
      font-weight: 500;
      &:hover {
        color: lighten(#232121, 20%);
      }
    }
  }
}
.cabinet-guests__item-guest-b {
  .cabinet-guests__item-guest-home {
    font-size: 13px;
    color: #232121;
  }
}
.cabinet-guests__item-guest-b {
  .cabinet-guests__item-guest-date {
    transition: all 300ms;
    font-size: 13px;
    color: $action_color;
  }
}
//@section user guest (end)
