@import "../design.patterns/style.settings";
//@section profile (begin)
.box__profile{
  padding: 20px;
  padding: rem-calc(20);
  margin-bottom: 20px;
  margin-bottom: rem-calc(20);
  background-color: #fff;
  border-bottom: 2px solid #bfcad2;
}
.title__transparent{
  font-size: 22px;
  font-family: $ff;
  font-weight: 300;
  color: $Color5;
  margin: 0 0 60px;
  text-align: left;
}
.title__regular{
  font-family: $ff;
  font-size: 16px;
  font-weight: 300;
  color: lighten($Color5, 15%);
  text-align: left;
  margin-bottom: 16px;
}
.item__regular-info{

}
//@section profile (end)

//1.1 ОПРЕДЕЛЕНИЕ ЦЕЛЕЙ И ЗАДАЧ. 7
//1.2 АНАЛИЗ ЦЕЛЕВОЙ АУДИТОРИИ. 8
//1.3 АНАЛИЗ САЙТОВ КОНКУРЕНТОВ. 9
//1.4 ТЕХНИЧЕСКОЕ ЗАДАНИЕ. 20
//1.4.1 ОБЩИЕ ПОЛОЖЕНИЕ. 20
//1.4.2 ТРЕБОВАНИЯ К ИНФОРМАЦИОННОЙ СТРУКТУРЕ. 20
//1.4.3 ТРЕБОВАНИЯ К ГРАФИЧЕСКОМУ ДИЗАЙНУ. 23
//1.4.4 ТРЕБОВАНИЯ К НАВИГАЦИИ. 23
//1.4.5 ТЕХНИЧЕСКИЕ ТРЕБОВАНИЯ. 24
//1.4.6 ТРЕБОВАНИЯ К ВЁРСТКЕ. 24
//1.4.7 ТРЕБОВАНИЯ К ТЕХНИЧЕСКОМУ ОБЕСПЕЧЕНИЮ. 25
//2 ПРОЕКТИРОВАНИЕ САЙТА. 25
//2.1 ПРОЕКТИРОВАНИЕ МАКЕТА САЙТА. 25
//2.2 ПРОЕКТИРОВАНИЕ НАВИГАЦИИ САЙТА. 28
//2.3 ПРОЕКТИРОВАНИЕ ГРАФИЧЕСКОГО ДИЗАЙНА САЙТА. 29
//2.5 ЭРГОНОМИКА САЙТА (ЮЗАБИЛИТИ). 33
//3. РАЗРАБОТКА САЙТА. 35
//3.1 ВЫБОР WEB-ТЕХНОЛОГИЙ ДЛЯ РАЗРАБОТКИ САЙТА. 35
//3.2 РАЗРАБОТКА АРХИТЕКТУРЫ ПРИЛОЖЕНИЯ. 37
//3.3 РАЗРАБОТКА СТРУКТУРЫ БАЗЫ ДАННЫХ. 40
//3.4 РАЗРАБОТКА СТРАНИЦ САЙТА. 44
//3.4.1 РАЗРАБОТКА СТРАНИЦЫ САЙТА “ГЛАВНАЯ”. 44
//3.4.2 РАЗРАБОТКА СТРАНИЦЫ “О НАС”. 46
//3.4.3 РАЗРАБОТКА СТРАНИЦЫ “ГИДЫ”. 46
//3.4.4 РАЗРАБОТКА СТРАНИЦЫ “ПРАВИЛА”. 47
//3.4.5.1 РАЗРАБОТКА РАЗДЕЛА “КАБИНЕТ ПОЛЬЗОВАТЕЛЯ”. 48
//3.4.5.2 РАЗРАБОТКА СТРАНИЦЫ “СООБЩЕНИЯ ПОЛЬЗОВАТЕЛЯ”. 49
//3.4.5.3 РАЗРАБОТКА СТРАНИЦЫ “ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ”. 50
//3.4.5.4 Настройка профиля «settings» 51
//3.4.6 Разработка администраторского блока 51
//4 ТЕСТИРОВАНИЕ САЙТА. 52
//ЗАКЛЮЧЕНИЕ 54
//СПИСОК ИСПОЛЬЗУЕМЫХ ИСТОЧНИКОВ. 55















