<div class="admin-navigation">
  <ul class="admin-navigation-panel">
    <li class="admin-navigation-panel__item">
      <a href="/admin/control/projects" class="admin-navigation-panel__item-link">Добавить новый проект</a>
    </li>
    <li class="admin-navigation-panel__item">
      <a href="/admin/control/projects" class="admin-navigation-panel__item-link">Существующие проекты</a>
    </li>
  </ul>
</div>
