<header class="admin-header">
  <div class="admin-header_admin-messages">
    Brumina App
  </div>
  <nav class="admin-nav-top">
    <ul>
      <li class="admin-nav-top__item"><a href="/logout/admin" class="admin-nav-top__item-link">Выйти</a></li>
      <li class="admin-nav-top__item"><a href="/admin" class="admin-nav-top__item-link"></a></li>
    </ul>
  </nav>
</header>
