<% layout('../../template') %>

<% if(auth){ %>
<top-menu-auth>Загрузка...</top-menu-auth>
<% }else {%>
<top-menu>Загрузка...</top-menu>
<% } %>

<section class="wrapper wrapper_static-box wrapper__regulations">
  <header class="header header__regulations">
    <h1 class="title title_big">Правила использования</h1>
  </header>
  <div class="wrapper regulations-body">
    <ul class="ul">
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="/api/v1/regulations/regular/1" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem ea error omnis quas quis tempore vel vitae. Beatae esse ipsam iusto numquam quo repellendus ullam veniam veritatis. Architecto, eveniet.
          </p>
        </a>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorem eligendi est inventore ipsa nam porro quasi quibusdam quos voluptates! Commodi debitis deserunt, dicta enim fugit hic minus necessitatibus quos.
          </p>
        </a>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae cum dolor eligendi harum illo illum, inventore iusto labore modi obcaecati odit porro reiciendis similique velit? In ipsum nisi perspiciatis!
          </p>
        </a>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid asperiores aspernatur cumque cupiditate dolores ducimus ea eligendi eos ex itaque laborum magni mollitia odit quasi, saepe unde voluptatibus!
          </p>
        </a>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nostrum qui repellat ullam! Aliquid aut blanditiis dicta, eius enim esse exercitationem, explicabo maxime nostrum officia perspiciatis, quaerat repellat. Ad, nemo?
          </p>
        </a>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet assumenda culpa deleniti enim ex, odio quo ratione rerum? Animi assumenda error ex nesciunt nisi similique veniam? Dolorum, minima, obcaecati!
          </p>
        </a>
      </li>
      <li class="flex-element">
        <div class="icon">
          <svg viewBox="0 0 24 24" class="icon__paper">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
          </svg>
        </div>
        <a href="" class="regular-item__link">
          <p class="text text__regular-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam consequuntur cumque, dignissimos dolore dolorem ea eligendi eum fuga id incidunt inventore magni nam nobis odit perspiciatis similique tempore vitae.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
