<% layout('../../../layout/template') %>

<% if(auth){ %>
<top-menu-auth>Загрузка...</top-menu-auth>
<% }else {%>
<top-menu>Загрузка...</top-menu>
<% } %>

<section class="wrapper wrapper__contacts">
  <div class="wrapper body__contact">
    <header class="header header__contact">
      <p class="text text__header-contact">
        Сообщение не удалось отправить
      </p>
    </header>
  </div>
</section>
