@import url(https://fonts.googleapis.com/css?family=Roboto);

$ff: 'Roboto', sans-serif;

$fs_mainTitleBig: 56;
$fs_mainTitle: 34;
$fs_mobileTitle: 21;
$fs_large: 22;
$fs_medium: 18;
$fs_small: 16;

$fw_bold: 800;
$fw_normal: 400;
$fw_lighten: 300;

// animate
$aTimes: 300;

// colors
$Color1: #2461FC;
$Color2: rgb(93, 232, 149);
$Color3: rgb(249, 97, 247);
$Color4: rgb(51, 3, 103);
$Color5: #323232;
$reg_user_color: #20E8C6;
$login_user_color: #2461FC;
$link_color: #7094a8;
$action_color: #f8a500;
$errorColor: #ff6c80;

// images path
$imagesPath: '../images/';
