<% layout('template.admin') %>

<div class="admin-wrapper">
  <form action="/login/admin" method="post">
    <input type="text" name="username" placeholder="Логин">
    <input type="password" name="password" placeholder="Пароль">
    <button type="submit">Войти</button>
  </form>
</div>
